.OTPVerification-container {
    position        : fixed;
    top             : 0;
    left            : 0;
    width           : 100vw;
    height          : 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display         : flex;
    justify-content : center;
    padding-top     : 20%;



    .container {
        background-color: #151c25;
        box-shadow      : 0px 8px 25px 5px #e32970;
        height          : 220px;
        width           : 480px;
        display         : flex;
        justify-content : center;
        align-items     : center;
        border-radius   : 12px;
        position        : relative;

        .close-modal-btn {
            background: none;
            position  : absolute;
            right     : 10px;
            top       : 12px;
            font-size : 18px;
            color     : wheat;
            outline   : none;
            border    : none;
        }
    }


    .bgWhite {
        padding    : 0px 20px;
        padding-top: 10px;
        width      : 360px;
        position   : relative;

        .count-down {
            position   : absolute;
            bottom     : 20px;
            right      : 40px;
            color      : rgb(165, 150, 150);
            font-size  : 18px;
            font-weight: 500;
        }
    }

    .title {
        font-weight: 600;
        font-size  : 24px;
        color      : #cec2c2;

    }

    .customBtn {
        border-radius   : 0px;
        padding         : 10px;
        margin-bottom   : 10px;
        border-radius   : 18px;
        width           : 40%;
        color           : rgb(77, 69, 69);
        font-weight     : 800;
        background-color: bisque;
        cursor          : pointer;
    }

    form {
        display        : flex;
        gap            : 16px;
        margin-top     : 10px;
        justify-content: center;
    }

    form input {
        display         : inline-block;
        width           : 36px;
        height          : 36px;
        text-align      : center;
        background-color: rgb(107, 106, 105);
    }
}