.home-container {
    width     : 100vw;
    height    : 100vh;
    display   : flex;
    overflow-x: hidden;
    overflow-y: hidden;

    // overflow: hidden;
    .left-container {
        padding-left   : 10px;
        width          : 25%;
        height         : 100%;
        // border      : 1px solid olivedrab;

        .left-header-container {
            width           : 100%;
            // min-height   : 10%;
            // border: 1px solid yellow;
        }

        .left-body-container {
            width           : 98%;
            height          : 90%;
            // padding-right: 12px;

            // border: 1px solid darkblue;
        }
    }

    .right-container {
        border-left: 1px solid rgb(66, 66, 66);
        width      : 75%;
        height     : 100%;
        position   : relative;
        // border: 1px solid rebeccapurple;

        hr {
            margin: 0;
        }

        .right-header-container {
            width             : 100%;
            height            : 100px;
            position          : absolute;
            top               : 0;
            // display: flex;
            // justify-content: center;
            // border: 1px solid hotpink;
            // border-bottom: 1px solid #dddada;
            background-color  : #1c1a1a;
            // z-index           : 99;
        }

        .right-body-container {
            // margin-top: 10vh;
            // border-top: 1px solid #dddada;
            position        : absolute;
            top             : 100px;
            // bottom          : 10vh;
            width           : 100%;
            height: calc(100vh - 100px - 90px);
            // height       : calc(100vh - 10vh - 10vh);
            // padding   : 10px 0px 28px 5px;
            overflow-y      : auto;
            overflow-x      : hidden;
            // border-bottom: 1px solid #dddada;

            // border: 1px solid aquamarine;
            .no-conversation-selected {
                display    : block;
                margin-top : 10%;
                color      : #babcc0;
                font-weight: 600;
            }
        }

        /* Define the scrollbar width and colors */
        .right-body-container::-webkit-scrollbar {
            width           : 4px;
            height          : 8px;
            background-color: #cdced1;
        }

        /* Define the scrollbar thumb style */
        .right-body-container::-webkit-scrollbar-thumb {
            border-radius   : 12px;
            background-color: #8e8f91;
        }

        /* Define the scrollbar hover and active styles */
        .right-body-container::-webkit-scrollbar-thumb:hover {
            background-color: #BFC7D4;
        }

        .right-body-container::-webkit-scrollbar-thumb:active {
            background-color: #9EA9C2;
        }

        .right-bottom-container {
            width               : 100%;
            // height           : 10vh;
            min-height          : 100px;
            // background-color: aqua;
            // border-top: 1px solid white;
            position            : absolute;
            bottom              : 0;
            // z-index             : 10;
            // margin-top    : 10px;
            // padding-bottom: 12px;

            // border: 1px solid goldenrod;
        }
    }

}